@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Aclonica';
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  margin: 40px;
}

.nav a {
  display: inline-block;
  color: rgb(194, 227, 246);
  text-decoration: none;
}

.HeaderDIV {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.HeaderSec {
  text-align: center;
}

.main-header {
  /*Placeholder photo for testing*/
  background-size: cover;
  background-color: rgb(26, 26, 26);
  background-blend-mode: multiply;
  padding: 10px;
}


.BodySection {
  display: grid;
  grid-template-rows: 1fr;
  padding: 15px;
  text-align: center;
}

.random-background {
  background-image: paint(voronoiPattern);
}

@property --pattern-seed {
  syntax: "<number>";
  initial-value: 60000;
  inherits: true;
}

@property --pattern-background {
  syntax: "<color>";
  inherits: false;
  initial-value: #b8b95e;
}

@property --pattern-colors {
  syntax: "<color>#";
  initial-value: #bff23e, rgb(148, 164, 212);
  inherits: true;
}

.TitleDIV {
  padding: 15px;
  font-size: 60pt;
  color: rgb(246, 246, 246);
  font-size: 20pt;
  padding-bottom: 1%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgb(26, 26, 26);
  background: cover;
  border-radius: 15px;
}

.SelectingBody {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Register {
  background-color: rgb(26, 26, 26);
  border-radius: 15px;
  padding: 15px;
  display: grid;
  grid-template-rows: auto 50px;
  text-align: center;

}

.RSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}

.Pictures {
  border-radius: 15px;
}

.Buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
  padding-bottom: 15px;
}

.yes_button {
  background-color: #b8b95e;
  padding: 10px;
  border-radius: 15px;
  font-size: medium;
}

.yes_button:hover {
  background-color: rgb(255, 215, 0);
}

.yes_button:active {
  background-color: rgba(255, 217, 0, 0.67);
}

.no_button {
  background-color: #b8b95e;
  padding: 10px;
  border-radius: 15px;
  font-size: medium;
}

.no_button:hover {
  background-color: rgb(255, 18, 18);
}

.no_button:active {
  background-color: rgba(191, 4, 4, 0.67);
}

.Footer {
  padding: 220px;
}

.Tab {
  position: relative;
  width: 100px;
  height: 50px;
  overflow: hidden;
  border: 1px solid rgb(0, 0, 0);
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 15px;
}

.Tab button {
  width: 101%;
  height: 100%;
  font-weight: 300;
  font-size: 12pt;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(26, 26, 26);
  background: #b8b95e;
  -webkit-mask: url("Images/sprite.png");
  mask: url("Images/sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}

.Tab button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.mask {
  position: absolute;
  color: #b8b95e;
  text-align: center;
  width: 101%;
  font-weight: 300;
  position: absolute;
  font-size: 12pt;
  margin-top: 17px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}