@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Aclonica';
    color: rgb(194, 227, 246);
}

html,
body {
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    margin: 40px;
}

.nav a {
    display: inline-block;
    color: rgb(194, 227, 246);
    text-decoration: none;
}

.HeaderDIV {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.HeaderSec {
    text-align: center;
    font-size: 25pt;
}

.main-header {
    /*Placeholder photo for testing*/
    background-size: cover;
    background-color: rgb(26, 26, 26);
    background-blend-mode: multiply;
    padding: 10px;
}

.Tabs {
    display: inline;
    font-size: 4em;
    top: 20%;
    font-size: 20px;
    padding: 10px;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 15%;
}
.Tabs:hover {
    background-color: rgba(255, 255, 255, .3);
    background-size: 20px;
}

.Tabs:active {
    color: rgb(101, 99, 99);
    background-color: rgb(26, 26, 26);
}

.BodySection {
    display: grid;
    grid-template-rows: 1fr;
    padding: 15px;
    text-align: center;
}

.random-background {
    background-image: paint(voronoiPattern);
}

@property --pattern-seed {
    syntax: "<number>";
    initial-value: 60000;
    inherits: true;
}

@property --pattern-background {
    syntax: "<color>";
    inherits: false;
    initial-value: #5989b7;
}

@property --pattern-colors {
    syntax: "<color>#";
    initial-value: #391f3c, rgb(101, 99, 99);
    inherits: true;
}


.CreateDIV {
    padding: 20px;
}

.CreateButton {
    font-size: 25pt;
    background-color:  rgb(26, 26, 26);
    border-radius: 15px;
    padding: 1%;
}
.CreateButton:hover{
    background-color: rgba(255, 255, 255, .3);
}
.CreateButton:active{
    background-color:  rgb(26, 26, 26);
}
.CreateLink{
    text-decoration: none;
}
.CreateLink:visited{
    text-decoration: none;
}

.WelcomeUN {
    padding-bottom: 20px;
    font-size: 20pt;
}

.ScrollBar {
    background-color:  rgb(26, 26, 26);
    border: none;
    padding: 5px;
    width: auto;
    height: 600px;
    overflow: scroll;
}

.ScrollGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}

.C1 {
    display: grid;
    grid-template-rows: 1fr 50px;
    padding: 5px;
}

.GDes {
    border: 2px solid rgb(0, 0, 0);
}

.CC {
    display: grid;
    grid-template-rows: auto auto;
    padding: 5px;
}

.Circle {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
    right: 55%;
    left: 35%;
}

.HexN {
    padding: 5px;
}

.Remove {
    position: relative;
    top: 30%;
}

.Footer {
    padding: 220px;
}