@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Aclonica';
    color: darkslategrey;
}

html, body{
    margin: 0;
    padding: 0;
}


.nav li{
    display: inline;
    margin: 20px;
}
.nav a{
    display: inline-block;
    color: black;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255,255,255, .3);
}

.HeaderDIV {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.HeaderSec{
    text-align: center;
}

.main-header{
    /*Placeholder photo for testing*/
    background-image: url('Images/1.jpg');
    background-size: cover;
    background-color: rgb(10, 217, 232);
    background-blend-mode: multiply;
    padding: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
}


.Tabs{
    font-size: 4em;
    top: 20%;
    font-size: 20px;
}

.BodySectionPalette{
    background-color: rgb(255, 252, 219);
    display: grid;
    grid-template-rows: 1fr;
    padding: 15px;
    text-align: center;
}

.TitleDIVPalette{
    padding: 15px;
    font-size: 25pt;
}

.SelectingBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Register{
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
    display: grid;
    grid-template-rows: auto 50px;
    text-align: center;
    
}

.RSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.Pictures{
    border: 2px solid rgb(0, 0, 0);
}


.Buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
    
}

.FooterPalette{
    background-color: rgb(255, 252, 219);
    padding: 220px;
}