@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Aclonica';
    color: darkslategrey;
}

html, body{
    margin: 0;
    padding: 0;
}


.nav li{
    display: inline;
    margin: 20px;
}
.nav a{
    display: inline-block;
    color: black;
    text-decoration: none;
}
.nav a:hover{
    background-color: rgba(255,255,255, .3);
}

.HeaderDIV {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.HeaderSec{
    text-align: center;
}

.main-header{
    /*Placeholder photo for testing*/
    background-image: url('Images/1.jpg');
    background-size: cover;
    background-color: rgb(10, 217, 232);
    background-blend-mode: multiply;
    padding: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
}


.Tabs{
    font-size: 4em;
    top: 20%;
    font-size: 20px;
}

.BodySectionProfile{
    background-color: rgb(255, 252, 219);
    display: grid;
    grid-template-rows: 1fr;
    padding: 15px;
    text-align: center;
}

.CreateDIV{
    padding: 20px;
}

.CreateButton{
    font-size: 25pt;
}

.WelcomeUN{
    padding-bottom: 20px;
    font-size: 20pt;
}

.ScrollBar {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 5px;
    width: auto;
    height: 600px;
    overflow: scroll;
}

.ScrollGrid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}

.C1{
    display: grid;
    grid-template-rows: 1fr 50px;
    padding: 5px;
}

.GDes{
    border: 2px solid rgb(0, 0, 0);
}

.CC{
    display: grid;
    grid-template-rows: auto auto;
    padding: 5px;
}

.Circle{
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    position: relative;
    right: 55%;
    left: 35%;
}

.HexN{
    padding: 5px;
}

.Remove{
    position: relative;
    top: 30%;
}

.Footer{
    background-color: rgb(255, 252, 219);
    padding: 220px;
}
