@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Aclonica';
  color: rgb(26, 26, 26);
  font: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  color: rgb(194, 227, 246);
  text-decoration: none;
}

.HeaderDIV {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.HeaderSec {
  text-align: center;
}

.main-header {
  background-size: cover;
  background-color: rgb(26, 26, 26);
  background-blend-mode: multiply;
  padding: 10px;
}

.BodySection {
  display: grid;
  grid-template-rows: 1fr;
  padding: 15px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.random-background {
  background-image: paint(voronoiPattern);
}
@property --pattern-seed {
  syntax: "<number>";
  initial-value: 60000;
  inherits: true;
}

@property --pattern-background {
  syntax: "<color>";
  inherits: false;
  initial-value: #bd7fab;
}

@property --pattern-colors {
  syntax: "<color>#";
  initial-value: #4ee269, rgb(101, 99, 99);
  inherits: true;
}

.TitleDIV {
  padding: 20px;
  font-size: 25pt;
  background-color: rgb(26, 26, 26);
  border-radius: 15px;
  color: rgb(194, 227, 246);
}
.AboutWebsite{
  font-size: 15pt;
  padding: 5%;
  margin-top: 5%;
  background-color: rgb(26, 26, 26);
  border-radius: 15px;
  color: rgb(194, 227, 246);
}

.BodyDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.FooterSection {
  background-size: cover;
  padding-bottom: 120px;
}
.FooterTitle{
  color: rgb(246, 246, 246);
  font-size: 20pt;
}
.FooterName{
  background-color: rgb(26, 26, 26);
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15px;
  color: rgb(194, 227, 246);
}

.FooterDIV {
  display: grid;
  grid-template-rows: 1fr;
  text-align: center;
}

.FooterBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 25px;
}

.CreatorInfo{
    display: grid;
    grid-template-rows: 1fr;
}

.linkedin1{
    height: 90px;
}
.photo1{
    width: 100px;
}

.Tab {
  position: relative;
  width: 100px;
  height: 50px;
  overflow: hidden;
  border: 1px solid rgb(0, 0, 0);
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 15px;
}
.Tab button {
  width: 101%;
  height: 100%;
  font-weight: 300;
  font-size: 12pt;
  letter-spacing: 1px;
  font-weight: bold;
  color: rgb(26, 26, 26);
  background: #bd7fab;
  -webkit-mask: url("Images/sprite.png");
  mask: url("Images/sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}
.Tab button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.mask {
  position: absolute;
  color: #bd7fab;
  text-align: center;
  width: 101%;
  font-weight: 300;
  position: absolute;
  font-size: 12pt;
  margin-top: 17px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}