@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Aclonica';
  color: rgb(194, 227, 246);
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  margin: 40px;
}

.nav a {
  display: inline-block;
  color: rgb(194, 227, 246);
  text-decoration: none;
}

.HeaderDIV {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.HeaderSec {
  text-align: center;
}

.main-header {
  /*Placeholder photo for testing*/
  background-size: cover;
  background-color: rgb(26, 26, 26);
  background-blend-mode: multiply;
  padding: 10px;
}

.Tabs {
  display: inline;
  font-size: 4em;
  top: 20%;
  font-size: 20px;
  padding: 10px;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 25%;
}

.Tabs:hover {
  background-color: rgba(255, 255, 255, .3);
  background-size: 20px;
}

.Tabs:active {
  color: rgb(101, 99, 99);
  background-color: rgb(26, 26, 26);
}
.BodySection {
  display: grid;
  grid-template-rows: 1fr;
  padding: 15px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.random-background {
  background-image: paint(voronoiPattern);
}
@property --pattern-seed {
  syntax: "<number>";
  initial-value: 60000;
  inherits: true;
}

@property --pattern-background {
  syntax: "<color>";
  inherits: false;
  initial-value: #5989b7;
}

@property --pattern-colors {
  syntax: "<color>#";
  initial-value: #391f3c, rgb(101, 99, 99);
  inherits: true;
}

.TitleDIV {
  padding: 20px;
  font-size: 25pt;
  background-color: rgb(26, 26, 26);
  border-radius: 15px;
  color: rgb(194, 227, 246);
}
.AboutWebsite{
  font-size: 15pt;
  padding: 5%;
  margin-top: 5%;
  background-color: rgb(26, 26, 26);
  border-radius: 15px;
  color: rgb(194, 227, 246);
}

.BodyDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.FooterSection {
  background-size: cover;
  padding-bottom: 120px;
}
.FooterTitle{
  color: rgb(246, 246, 246);
  font-size: 20pt;
}
.FooterName{
  background-color: rgb(26, 26, 26);
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 15px;
  color: rgb(194, 227, 246);
}

.FooterDIV {
  display: grid;
  grid-template-rows: 1fr;
  text-align: center;
}

.FooterBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 25px;
}

.CreatorInfo{
    display: grid;
    grid-template-rows: 1fr;
}

.linkedin1{
    height: 90px;
}
.photo1{
    width: 100px;
}